.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
img{
    width: 30%;
}
.container{
    margin: 0 20%;
}
.card{
    margin-top: 20px;
    text-align: center;
}