<div class="logo">
    <img src="assets/images/logo.jpg">
</div>

<div class="container">

    <div class="title">
        <h1>Clientes</h1>
    </div>

    <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="razonSocial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Razón Social </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cuit" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuit </th>
          <td mat-cell *matCellDef="let element"> {{element.cuit}} </td>
        </ng-container>

        <ng-container matColumnDef="destinoCarga" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino de Carga </th>
            <td mat-cell *matCellDef="let element"> {{element.cuit}} </td>
          </ng-container>

        <ng-container matColumnDef="acciones" >
            <th mat-header-cell *matHeaderCellDef > 
                <button class="agregar" routerLink="/agregarCliente" matTooltip="Agregar Cliente" mat-raised-button color="primary">Agregar</button> 
            </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon routerLink="/editarCliente/{{element.id}}" matTooltip="Editar" class="edit" fontIcon="edit"></mat-icon>    
                <mat-icon (click)="eliminarCliente(element.id)"  matTooltip="Eliminar" class="delete" fontIcon="delete"></mat-icon>     
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <div class="footer">

        <button class="agregar" routerLink="/menuLosquebrachos" matTooltip="Volver al menú principal" mat-raised-button color="primary">Volver</button>

        <mat-paginator [pageSizeOptions]="[20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
        </mat-paginator>

      </div>
      
</div>
