<div class="logo">
    <img src="assets/images/logo.jpg">
</div>
<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Vehículo</h1>
    </div>

    <mat-card class="card mat-elevation-z8">
        <mat-card-subtitle>
           Información del Vehículo
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarEditarVehiculo()">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Chasis:</mat-label>
                        <input formControlName="chasis" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Acoplado:</mat-label>
                        <input formControlName="acoplado" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo:</mat-label>
                        <mat-select formControlName="tipo" name="tipo">
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                              {{tipo.viewValue}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Capacidad:</mat-label>
                        <mat-select formControlName="capacidadTN" name="capacidad">
                            <mat-option *ngFor="let capacidad of capacidades" [value]="capacidad.value">
                              {{capacidad.viewValue}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Adjudicar Transporte</mat-label>
                        <mat-select formControlName="transporte">
                            <mat-option *ngFor="let transporte of transportes" [value]="transporte.nombre">
                              {{transporte.nombre}}
                              {{transporte.apellido}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                    <button mat-raised-button routerLink="/listVehiculo">Volver</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>
