<mat-toolbar >
    <mat-toolbar-row>
        <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
       <h2>Dador de carga: {{nombreUsuario}}</h2>
        <img src="assets/images/logo.jpg">
        <button (click)="cerrarSesion()" mat-raised-button color="primary">Cerrar Sesión</button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container *ngIf="role === 'Admin'">
    <mat-sidenav [(opened)]="opened" mode="side" >
       <mat-list>
        <mat-list-item>
            <a class="items" routerLink="/listTransporte">Listado de Transportes</a>
        </mat-list-item>
        <mat-list-item>
            <a class="items" routerLink="/listChofer">Listado de Choferes</a>
        </mat-list-item>
        <mat-list-item>
            <a class="items" routerLink="/listVehiculo">Listado de Vehículos</a>
        </mat-list-item>
        <mat-list-item>
            <a class="items" routerLink="/listCliente">Listado de Clientes</a>
        </mat-list-item>
        <mat-list-item>
            <a class="items" routerLink="/listDestinoDeCarga">Puntos De Carga</a>
        </mat-list-item>
        <mat-list-item>
            <a class="items" routerLink="/listDestinoDeDescarga">Puntos De Descarga</a>
        </mat-list-item>
        <mat-list-item>
            <a class="items" routerLink="/listOrdenDeCarga">Ordenes de Carga</a>
        </mat-list-item>
        <mat-list-item>
            <a class="items" routerLink="/listOrdenDeGasoil">Ordenes de Gasoil</a>
        </mat-list-item>
    </mat-list>
    </mat-sidenav>
    <mat-sidenav-content> 
            <div *ngIf="mostrarImagen" class="content-img">
                <img src="assets/images/IMG_8665.jpg">
            </div>
            <div class="componente">
               <router-outlet (activate)="mostrarImagen = false"></router-outlet>
            </div>
    </mat-sidenav-content>
</mat-sidenav-container>