img{
    width: 20%;
}
mat-toolbar-row{
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
mat-icon{
    color: white;
}
mat-sidenav-container{
    height: calc(205vh - 115vh);
}

mat-sidenav{
    width: 200px;
    background-color: #6f42c1;
}

mat-list{
    margin-top: 20px;
}
h2{
    color: white;
    list-style: none;
}

.componente{
    margin-top: 30px;
    margin-bottom: 40px;
}
.items{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.content-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.content-img img{
    width: 50%;
    border-radius: 10px;
}
h4{
    color: white;
}