

<div class="container">

    <div class="title">
        <h1>Ordenes de Carga</h1>
    </div>

    <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSortDirection="asc" matSortDisableClear matSortActive="destinoCarga" matSortActive="destinoDescarga" matSort>

      <ng-container matColumnDef="numeroOrden">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Orden De Carga </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroOrden }} </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.razonSocial }} </td>
      </ng-container>

        <ng-container matColumnDef="destinoDeCarga">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Destino de Carga </th>
            <td mat-cell *matCellDef="let element"> {{element.destinoDeCarga.nombreEstablecimiento }} </td>
          </ng-container>
        
          <ng-container matColumnDef="destinoDeDescarga" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino de Descarga </th>
            <td mat-cell *matCellDef="let element"> {{ element.destinoDeDescarga.nombreEstablecimiento }} </td>
          </ng-container>

          <ng-container matColumnDef="distanciaViaje" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Distancia(Kms) </th>
            <td mat-cell *matCellDef="let element"> {{element.distanciaViaje}} </td>
          </ng-container>
        
          <ng-container matColumnDef="diaHoraCarga" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Día y Hora de Carga </th>
            <td mat-cell *matCellDef="let element"> {{element.diaHoraCarga | date:'M/d/yy, h:mm'}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="tipoMercaderia" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Mercaderia </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoMercaderia }} </td>
          </ng-container>

        <ng-container matColumnDef="acciones" >
            <th mat-header-cell *matHeaderCellDef > 
                <button class="agregar" routerLink="/agregarOrdenDeCarga" matTooltip="Agregar Orden De Carga" mat-raised-button color="primary">Agregar</button> 
            </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="generatePdf(element)" matTooltip="Crear PDF" class="edit" fontIcon="insert_drive_file"></mat-icon> 
                <mat-icon routerLink="/editarOrdenDeCarga/{{element.id}}" matTooltip="Editar" class="edit" fontIcon="edit"></mat-icon>
                <mat-icon (click)="eliminarOrdenDeCarga(element.id)"  matTooltip="Eliminar" class="delete" fontIcon="delete"></mat-icon>     
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <div class="footer">

        <mat-paginator class="mat-elevation-z8" [length]="dataSource.itemCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
        </mat-paginator>

      </div>
      
</div>
