

<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Puntos de Descarga</h1>
    </div>

    <h3>Seleccione en el mapa la ubicación del punto de descarga</h3>

    <div #mapRef style="height: 300px;"></div>

    <button class="map-btn" mat-raised-button color="primary" (click)="clearMarker()">Borrar Marker</button> 

    <mat-card class="card mat-elevation-z8">
        <mat-card-subtitle>
           Información del Destino de Descarga
        </mat-card-subtitle>

        <form [formGroup]="form" (ngSubmit)="agregarEditarDestinoDeDescarga()">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Latitud:</mat-label>
                        <input [(ngModel)]="latitud" formControlName="latitud" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Longitud:</mat-label>
                        <input [(ngModel)]="longitud" formControlName="longitud" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del Establecimiento:</mat-label>
                        <input formControlName="nombreEstablecimiento" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>
