<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/listTransporte">Transportes</a>
      <a mat-list-item routerLink="/listChofer">Choferes</a>
      <a mat-list-item routerLink="/listVehiculo">Vehículos</a>
      <a mat-list-item routerLink="/listOrdenDeCarga">Orden de Carga</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Los Quebrachos Transporte y Logística</span>
      <ul *ngIf="auth.user$ | async as user">
        <li>{{ user.name }}</li>
      </ul>
      <button (click)="logOut()" mat-raised-button color="warn">Cerrar Sesión</button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
