<div class="logo">
    <img src="assets/images/logo.jpg">
</div>
<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Orden De Carga</h1>
    </div>

    <mat-card class="card mat-elevation-z8">
        <mat-card-subtitle>  
            Información de la Orden de Carga
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarEditarOrdenDeCarga()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Destino de Carga:</mat-label>
                        <input formControlName="destinoCarga" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Destino de Descarga:</mat-label>
                        <input formControlName="destinoDescarga" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Día de Carga:</mat-label>
                        <input type="date" formControlName="diaCarga" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Hora de Carga:</mat-label>
                        <input type="date" formControlName="horaCarga" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo de Mercadería:</mat-label>
                        <input formControlName="tipoMercaderia" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                    <button mat-raised-button routerLink="/listOrdenDeCarga">Volver</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>