
<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Orden De Carga</h1>
    </div>

    <div #mapRef style="height: 300px;"></div>

    <mat-card class="card mat-elevation-z8">
        <mat-card-subtitle>  
            Información de la Orden de Carga
        </mat-card-subtitle>
        
       <form [formGroup]="form" (ngSubmit)="agregarEditarOrdenDeCarga()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Cliente:</mat-label>
                        <input #inputCliente autocomplete="off" matInput [matAutocomplete]="autoCliente"
                         formControlName="cliente">
                        <mat-autocomplete [panelWidth]="200" (optionSelected)="selectedCliente($event)" #autoCliente="matAutocomplete" [displayWith]="displayCliente">
                        <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                        <span>{{cliente.razonSocial}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Destino de Carga:</mat-label>
                        <input #inputDestinoDeCarga autocomplete="off" matInput [matAutocomplete]="autoDestinoDeCarga"
                         formControlName="destinoDeCarga" placeholder="Buscar">
                        <mat-autocomplete (optionSelected)="updateMarkerCarga($event)" [panelWidth]="300" #autoDestinoDeCarga="matAutocomplete" [displayWith]="displayDestinoDeCarga">
                        <mat-option *ngFor="let destinoDeCarga of destinosDeCargas" [value]="destinoDeCarga">
                        <span>{{destinoDeCarga.nombreEstablecimiento}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Destino de Descarga:</mat-label>
                        <input #inputDestinoDeDescarga autocomplete="off" matInput [matAutocomplete]="autoDestinoDeDescarga"
                         formControlName="destinoDeDescarga" placeholder="Buscar">
                        <mat-autocomplete (optionSelected)="updateMarkerDescarga($event)" [panelWidth]="300" #autoDestinoDeDescarga="matAutocomplete" [displayWith]="displayDestinoDeDescarga">
                        <mat-option *ngFor="let destinoDeDescarga of destinosDeDescargas" [value]="destinoDeDescarga">
                        <span>{{destinoDeDescarga.nombreEstablecimiento}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Distancia(Kms):</mat-label>
                            <input matInput formControlName="distanciaViaje" autocomplete="off"/>
                        </mat-form-field>
                    </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Día y Hora de Carga:</mat-label>
                        <input type="datetime-local" formControlName="diaHoraCarga" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
               
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo de Mercadería:</mat-label>
                        <mat-select formControlName="tipoMercaderia" name="mercaderia">
                            <mat-option *ngFor="let mercaderia of mercaderias" [value]="mercaderia.value">
                              {{mercaderia.viewValue}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>

    
    
    <script>
        config= {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    }
        flatpickr("input[type=datetime-local]", config);
    </script>
    
</div>