
<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Orden de Gasoil</h1>
    </div>

    <mat-card class="card mat-elevation-z8">
        <form [formGroup]="form" (ngSubmit)="agregarEditarOrdenDeGasoil()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha:</mat-label>
                        <input type="date" formControlName="fecha" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Transporte:</mat-label>
                        <input #inputTransporte autocomplete="off" matInput [matAutocomplete]="autoTransporte"
                         formControlName="transporte" placeholder="Buscar por apellido">
                        <mat-autocomplete [panelWidth]="200" (optionSelected)="selectedTransporte($event)" #autoTransporte="matAutocomplete" [displayWith]="displayTransporte">
                        <mat-option *ngFor="let transporte of transportes" [value]="transporte">
                        <span>{{transporte.nombre}} {{transporte.apellido}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                    <mat-grid-tile *ngIf="transporte">
                        <mat-form-field appearance="outline">
                            <mat-label>Cuit:</mat-label>
                            <input formControlName="cuitTransporte" [value]="transporte.cuit" [disabled]="true" matInput autocomplete="off">
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Chofer autorizado:</mat-label>
                        <input #inputChofer autocomplete="off" matInput [matAutocomplete]="autoChofer"
                         formControlName="chofer" placeholder="Buscar">
                        <mat-autocomplete [panelWidth]="300" #autoChofer="matAutocomplete" [displayWith]="displayChofer">
                        <mat-option *ngFor="let chofer of choferes" [value]="chofer">
                        <span>{{chofer.nombre}} {{chofer.apellido}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Patente:</mat-label>
                        <input #inputCamion autocomplete="off" matInput [matAutocomplete]="autoCamion"
                         formControlName="vehiculo" placeholder="Buscar">
                        <mat-autocomplete [panelWidth]="200" #autoCamion="matAutocomplete" [displayWith]="displayCamion">
                        <mat-option *ngFor="let camion of camiones" [value]="camion">
                        <span>{{camion.chasis}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Litros a cargar:</mat-label>
                        <input type="number" formControlName="litros" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Estación:</mat-label>
                        <mat-select formControlName="estacion" name="estacion">
                            <mat-option *ngFor="let estacion of estaciones" [value]="estacion.value">
                              {{estacion.viewValue}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>

