
<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Orden de Gasoil</h1>
    </div>

    <mat-card class="card mat-elevation-z8">
        <!--<mat-card-subtitle>
            <h1>LOS QUEBRACHOS S.R.L.</h1>
            <h3>Domicilio: Libertad 561 - 3730 - Charata - Chaco - CUIT: 30717216071</h3>
            <h3>Tel.: 03731-420924</h3>
        </mat-card-subtitle>-->
        <form [formGroup]="form" (ngSubmit)="agregarEditarOrdenDeGasoil()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                            <mat-label>Orden de Carga de Gasoil:</mat-label>
                            <input type="number" formControlName="numeroOrden" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha:</mat-label>
                        <input type="date" formControlName="fecha" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Chofer autorizado:</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto"
                         formControlName="chofer" placeholder="Buscar">
                        <mat-autocomplete [panelWidth]="300" #auto="matAutocomplete" [displayWith]="displayChofer">
                        <mat-option *ngFor="let chofer of filteredChoferes | async" [value]="chofer">
                        <span>{{chofer.nombre}} {{chofer.apellido}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Patente:</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto"
                         formControlName="chasis" placeholder="Buscar">
                        <mat-autocomplete [panelWidth]="300" #auto="matAutocomplete" [displayWith]="displayChasis">
                        <mat-option *ngFor="let chasis of filteredChasis | async" [value]="chasis">
                        <span>{{chasis.chasis}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Transporte:</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto"
                         formControlName="transporte" placeholder="Buscar">
                        <mat-autocomplete [panelWidth]="300" #auto="matAutocomplete" [displayWith]="displayTransporte">
                        <mat-option *ngFor="let transporte of filteredTransportes | async" [value]="transporte">
                        <span>{{transporte.nombre}} {{transporte.apellido}}</span>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Cuit:</mat-label>
                            <input type="number" formControlName="cuitTransporte" matInput autocomplete="off">
                            <span></span>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Litros a cargar:</mat-label>
                        <input type="number" formControlName="litros" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Estación:</mat-label>
                        <mat-select formControlName="estacion" name="estacion">
                            <mat-option *ngFor="let estacion of estaciones" [value]="estacion.value">
                              {{estacion.viewValue}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>

