<div class="logo">
    <img src="assets/images/logo.jpg">
</div>

<div class="container">

    <div class="title">
        <h1>Vehículos</h1>
    </div>

    <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="acoplado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Acoplado </th>
          <td mat-cell *matCellDef="let element"> {{element.acoplado}} </td>
        </ng-container>
      
        <ng-container matColumnDef="chasis" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Chasis </th>
          <td mat-cell *matCellDef="let element"> {{element.chasis}} </td>
        </ng-container>
      
        <ng-container matColumnDef="tipo" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="capacidadTN" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad </th>
            <td mat-cell *matCellDef="let element"> {{element.capacidadTN}} </td>
          </ng-container>

        <ng-container matColumnDef="acciones" >
            <th mat-header-cell *matHeaderCellDef > 
                <button class="agregar" routerLink="/agregarVehiculo" matTooltip="Agregar Vehículo" mat-raised-button color="primary">Agregar</button> 
            </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon routerLink="/verVehiculo/{{element.id}}" matTooltip="Ver" class="search" fontIcon="search"></mat-icon> 
                <mat-icon routerLink="/editarVehiculo/{{element.id}}" matTooltip="Editar" class="edit" fontIcon="edit"></mat-icon>    
                <mat-icon (click)="eliminarVehiculo(element.id)"  matTooltip="Eliminar" class="delete" fontIcon="delete"></mat-icon>     
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <div class="footer">

        <button class="agregar" routerLink="/menuLosquebrachos" matTooltip="Volver al menú principal" mat-raised-button color="primary">Volver</button>

        <mat-paginator [pageSizeOptions]="[20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
        </mat-paginator>

      </div>
      
</div>
