<div class="logo">
    <img src="assets/images/logo.jpg">
</div>
<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Chofer</h1>
    </div>

    <mat-card class="card mat-elevation-z8">
        <mat-card-subtitle>
           Información del Chofer
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarEditarChofer()">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre:</mat-label>
                        <input formControlName="nombre" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido:</mat-label>
                        <input formControlName="apellido" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Cuit:</mat-label>
                        <input type="number" formControlName="cuit" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Adjudicar Transporte</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto"
                        [formControl]="transporteControl" formControlName="transporte" placeholder="Buscar">
                        <mat-autocomplete [panelWidth]="300" #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let transporte of filteredTransportes | async" [value]="transporte">
                        <span><b>{{transporte.nombre}}</b> {{transporte.apellido}}</span>
                        </mat-option>
                        </mat-autocomplete>
                        <!--<mat-select formControlName="transporte">
                            <mat-option *ngFor="let transporte of transportes" [value]="transporte">
                              {{transporte.nombre}}
                              {{transporte.apellido}}
                            </mat-option>
                          </mat-select>-->
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                    <button mat-raised-button routerLink="/listChofer">Volver</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>

