
<div class="container">
 
    <div class="title">
        <h1>{{operacion}} Chofer</h1>
    </div>

    <mat-card class="card mat-elevation-z8">
        <mat-card-subtitle>
           Información del Chofer
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarEditarChofer()">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre:</mat-label>
                        <input formControlName="nombre" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido:</mat-label>
                        <input formControlName="apellido" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Cuit:</mat-label>
                        <input formControlName="cuit" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Adjudicar Transporte</mat-label>
                        <input matInput #input autocomplete="off" [(ngModel)]="selectedTransporte" formControlName="transporte" placeholder="Buscar por apellido" [matAutocomplete]="auto">
                        <button *ngIf="selectedTransporte" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-autocomplete [panelWidth]="200" #auto="matAutocomplete" [displayWith]="displayTransporte" (optionSelected)="onSelected()">
                            <mat-option *ngFor="let transporte of transportes" [value]="transporte">
                                <span>{{transporte.nombre}} {{transporte.apellido}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>