
<div class="container">

    <div class="title">
        <h1>Ordenes de Gasoil</h1>
    </div>
  
    <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput  placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSortActive="numeroOrden" matSortDirection="asc" matSortDisableClear matSort>
  
        <ng-container matColumnDef="numeroOrden">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Orden de Gasoil </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroOrden}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fecha" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha | date:'MM/dd/yy'}} </td>
        </ng-container>

        <ng-container matColumnDef="transporte" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Transporte </th>
          <td mat-cell *matCellDef="let element"> {{element.transporte.nombre}} {{element.transporte.apellido}} </td>
        </ng-container>

       <ng-container matColumnDef="cuitTransporte" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuit </th>
        <td mat-cell *matCellDef="let element"> {{element.transporte.cuit}} </td>
       </ng-container>
      
        <ng-container matColumnDef="chofer" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Chofer Autorizado </th>
          <td mat-cell *matCellDef="let element"> {{element.chofer.nombre}} {{element.chofer.apellido}}</td>
        </ng-container>

        <ng-container matColumnDef="vehiculo" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patente </th>
            <td mat-cell *matCellDef="let element"> {{element.vehiculo.chasis}} </td>
        </ng-container>

        <ng-container matColumnDef="litros" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Litros a cargar </th>
            <td mat-cell *matCellDef="let element"> {{element.litros}} </td>
        </ng-container>

        <ng-container matColumnDef="estacion" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estación </th>
            <td mat-cell *matCellDef="let element"> {{element.estacion}} </td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef > 
                <button class="agregar" routerLink='/agregarOrdenGasoil' matTooltip="Agregar Orden de Gasoil" mat-raised-button color="primary">Agregar</button> 
            </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="generatePdf(element)" matTooltip="Crear PDF" class="edit" fontIcon="insert_drive_file"></mat-icon> 
                <mat-icon routerLink="/editarOrdenGasoil/{{element.id}}" matTooltip="Editar" class="edit" fontIcon="edit"></mat-icon>    
                <mat-icon (click)="eliminarOrdenDeGasoil(element.id)"  matTooltip="Eliminar" class="delete" fontIcon="delete"></mat-icon>     
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <div class="footer" >
       
        <mat-paginator class="mat-elevation-z8" [length]="dataSource.itemCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
        </mat-paginator>
  
      </div>
      
  </div>
  
  
